/* Here you can find all the background-related styles for each section */

/******************************
* SECTION 1
******************************/
.corona {
  background: var(--bg-top);
  background: -webkit-linear-gradient(to top, var(--bg-bottom), var(--bg-top));
  background: linear-gradient(to top, var(--bg-bottom), var(--bg-top));
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.corona img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
