:root {
  --bg-top: #72c6ef;
  --bg-bottom: #2f80ed;
  --green: #3fdaac;
  --alt-green: #abf3de;
  --alt-blue: #9dd2ec;
  --white: #ffffff;
  --alt-blue: #1661c4;
  --dark: rgb(31, 31, 31);
  --alt-dark: rgb(53, 53, 53);
  --headings: "Nerko One", cursive;
  --body: "Poppins", sans-serif;
}

@font-face {
  font-family: "Nerko One";
  src: url("../fonts/NerkoOne-Regular.woff2") format("woff2"),
    url("../fonts/NerkoOne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"),
    url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  font-family: var(--body);
  color: var(--dark);
  font-size: 17px;
  font-weight: normal;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headings);
  color: var(--alt-dark);
}

h2 {
  font-size: 2.1rem;
}

.container {
  max-width: 90%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  scroll-snap-align: start;
}

.hidden {
  opacity: 0;
}

.slide-in {
  animation: fromBottom 2s ease-out;
  opacity: 1;
}
