@media (min-width: 600px) {
  h1.year {
    font-size: 8rem;
  }

  .intro-text {
    font-size: 2rem;
  }

  .maradios h2 {
    font-size: 3.5rem;
  }

  .ask-diego {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  h1.year {
    font-size: 16rem;
  }

  .intro-text {
    font-size: 3rem;
  }
  .maradios h2 {
    font-size: 4rem;
  }
}
