/******************************
* SECTION 1 – Corona
******************************/
.corona {
  background: var(--bg-top);
  background: -webkit-linear-gradient(to top, var(--bg-bottom), var(--bg-top));
  background: linear-gradient(to top, var(--bg-bottom), var(--bg-top));
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.corona .corona-l1,
.corona .corona-l2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1.year {
  color: var(--green);
  font-size: 6rem;
  z-index: 2;
  animation: fromLeft 2s ease-out;
  margin: 0;
  text-shadow: rgba(24, 24, 24, 0.267) 70px 0 20px;
}

.intro-text {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 600;
  animation: fromRight 2s ease-out;
}

/******************************
* SECTION 2 – Maradona
******************************/

.maradios {
  background: var(--green);
}

.quote.on {
  max-width: 600px;
  background: var(--alt-green);
  padding: 1rem 0.5rem 3rem;
  border: 4px solid;
  border-image: linear-gradient(to right, #7df18d, #07f5ad, #7df18d) 1;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    45% 75%,
    50% 100%,
    25% 75%,
    0% 75%
  );
}

.ask-diego {
  font-size: 0.9rem;
}

button.no-button {
  background: transparent;
  border: none;
  cursor: pointer;
  filter: drop-shadow(16px 16px 20px rgba(29, 29, 29, 0.514));
}

button.no-button:focus {
  outline: 2px solid transparent;
}

.diego {
  transition: all ease 0.5s;
}

span.api {
  color: var(--bg-bottom);
  display: block;
  font-size: 0.9rem;
}

span.api a {
  color: var(--alt-blue-two);
  text-decoration: none;
}

span.api a:hover {
  color: var(--bg-bottom);
}

.diego:hover {
  opacity: 0.8;
}

.diego:hover:active {
  transform: translateY(1rem);
}

/******************************
* SECTION 2 – Trumpona
******************************/
.cry-baby {
  background: var(--bg-top);
}

.loserRainfall {
  position: fixed;
  top: -1vh;
  font-size: 2rem;
  transform: translateY(0);
  animation: fromTop 3s linear forwards;
}

.make-him-cry {
  border: 4px solid var(--alt-dark);
  margin-top: 3rem;
  padding: 1rem 2rem;
  background: transparent;
  border-radius: 100px;
  transition: all 0.5s;
  font-family: var(--headings);
  font-size: 1.4rem;
  color: var(--dark);
  cursor: pointer;
  box-shadow: 12px 12px 20px 1px rgba(61, 61, 61, 0.2);
}

.make-him-cry:hover {
  border: none;
  background-color: var(--white);
  transform: scale(0.99);
  transform: translateY(1rem);
  color: var(--dark);
  box-shadow: 3px 3px 2px 1px rgba(61, 61, 61, 0.2);
}

.make-him-cry:focus {
  outline: 2px solid transparent;
}

.message {
  margin: 2rem;
  background: var(--alt-blue);
  padding: 1rem;
  border: 4px solid;
  border-image: linear-gradient(to right, #0074e0, #44b7e4, #0074e0) 1;
}
